@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" 0;
  }

  .slide{
    width: 450px;
  }
  .container {
    width: 100%;
    max-width: 1260px;
    margin: 50px auto;
    padding: 0 20px;
    /* height: 80vh; */
    background: white;
  }
  
  .left, .right {
    width: 50%;
    padding: 30px;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  .flex1 {
    display: flex;
  }
  
  .main_image {
    width: auto;
    height: auto;
  }
  
  .option img {
    width: 75px;
    height: 75px;
    padding: 10px;
  }
  
  .right {
    padding: 50px 100px 50px 50px;
  }
  
  h3 {
    color: black;
    font-size: 25px;
  }
  
  #dis{
    color: #ffa0a0;
  }
  
  h5,
  p{
    color: #837D7C;
  }
  
  h2 {
    color: #3a4980;
  }

  .discount{
    display: flex;
    gap:20px;
  }
  
  p {
    line-height: 25px;
  }
  
  h5 {
    font-size: 15px;
  }

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #837D7C;
  }

  input{
    margin-right: 5px;
    
  }

  .size{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    box-sizing: content-box;
  }
  
  .ia{
    background-color: #D5D6D8;
    width: 100%;
    font-size: 11px;
    padding: 4px 0px 6px 6px;
    border-radius: 5px;
  }
  .color span {
    width: 35px;
    height: 35px;
    background: #ECDECC;
    border-radius: 0%;
    margin: 10px 20px 10px 0;
  }

  #cg{
    background: #BBD278;
  }
  #cb{
    background: #BBC1F8;
  }
  #cp{
    background: #FFD3F8;
  }

  .cart-wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .counter{
    display: flex;
    justify-content: space-around;
    background-color: #D5D6D8;
    color: #3a4980;
    border-radius: 30px;
    width: 120px;
    padding-top: 8.5px;
  }
  
  #cartAdd{
    width: 420px;
    height: 25px;
    margin-top: 10px;
    background-color: #3a4980;
    color: black;
    border-radius: 6px;
    display: none;
  }

  .cart-message {
    margin-top: 10px;
    background-color: #e7f8b7;
    color: #000;
    padding:  10px;
    border-radius: 10px;
    display: none;
   }


  button {
    width: 280px;
    padding: 10px;
    border: none;
    outline: none;
    background: #3a4980;
    color: white;
    border-radius: 30px;
    cursor: pointer;
  }
 
  
  @media only screen and (max-width:768px) {
    .container {
      max-width: 90%;
      margin: auto;
      height: auto;
    }
  
    .left, .right {
      width: 100%;
    }
  
    .container {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width:511px) {
    .container {
      max-width: 100%;
      height: auto;
      padding: 10px;
    }
  
    .left, .right {
      padding: 0;
    }
  
    img {
      width: 100%;
      height: 100%;
    }
  
    .option {
      display: flex;
      flex-wrap: wrap;
    }
  }